@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}

.belum-muncul {
  opacity: 0;
  filter: blur(5px);
  transition: all 2s;
}

.hidden-kiri{
  transform: translateX(-100%);
}

/* @media(prefers-reduced-motion) {
  .belum-muncul {
    transition: none;
  }
} */

.sudah-muncul {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.animasi-tulisan{
  transition-delay: calc(100ms * var(--order));
}

#pembuka{
  background-color: black;
}

#peta{
  background-color: whitesmoke;
}

#peta img{
  width: 40rem;
}

#algoritma{
  background-color: black;
}
